<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<context:annotation-config />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<mvc:resources location="/resources/img"
		mapping="/resources/**" cache-period="5000" />

	
	<context:component-scan	base-package="com.pifrans.project.general.controllers" />
	<context:component-scan	base-package="com.pifrans.services.interfaces" />
	<context:component-scan	base-package="com.pifrans.services.implementations" />
	<context:component-scan	base-package="com.pifrans.repository.interfaces" />
	<context:component-scan	base-package="com.pifrans.dao.implementations" />
	<context:component-scan	base-package="com.pifrans.project.bean.views" />
	<context:component-scan	base-package="com.pifrans.project.bean.general" />
	<context:component-scan	base-package="com.pifrans.project.report.util" />
	<context:component-scan	base-package="com.pifrans.project.util.all" />
	<context:component-scan	base-package="com.pifrans.project.bean.views.graphics" />
	<context:component-scan	base-package="com.pifrans.framework.controller.crud" />
	<context:component-scan	base-package="com.pifrans.framework.interfaces.crud" />
	
	

	<!-- Data Source -->
	<bean id="springDataSource" name="springDataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean"
		lazy-init="false">
		<property name="jndiName">
			<value>java:comp/env/jdbc/datasource</value>
		</property>
	</bean>

	<!-- Flyway -->
	<bean id="flyway" class="org.flywaydb.core.Flyway"
		init-method="migrate" lazy-init="false">
		<property name="dataSource" ref="springDataSource" />
		<property name="baselineOnMigrate" value="true" />
		<property name="table" value="version" />
		<property name="sqlMigrationPrefix" value="v" />
		<property name="sqlMigrationSeparator" value="_" />
		<property name="encoding" value="ISO-8859-1" />
		<property name="validateOnMigrate" value="true" />
	</bean>


	<bean id="transactionManager" name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		lazy-init="false">
		<property name="dataSource" ref="springDataSource" />
	</bean>


	<bean id="jdbcTemplate" name="jdbcTemplate"
		class="com.pifrans.framework.implementations.crud.JdbcTemplateImplementation">
		<constructor-arg name="dataSource"
			ref="springDataSource" />
	</bean>


	<bean id="simpleJdbcTemplate" name="simpleJdbcTemplate"
		class="com.pifrans.framework.implementations.crud.SimpleJdbcTemplateImplementation">
		<constructor-arg name="dataSource"
			ref="springDataSource" />
	</bean>


	<bean id="simpleJdbcInsert" name="simpleJdbcInsert"
		class="com.pifrans.framework.implementations.crud.SimpleJdbcInsertImplementation"
		lazy-init="false">
		<constructor-arg name="dataSource"
			ref="springDataSource" />
	</bean>


	<bean id="simpleJdbcClass" name="simpleJdbcClass"
		class="com.pifrans.framework.implementations.crud.SimpleJdbcClassImplementation"
		lazy-init="false">
		<constructor-arg name="dataSource"
			ref="springDataSource" />
	</bean>


	<!-- Para uso com JSP -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"
		lazy-init="false">
		<property name="mappings">
			<props>
				<prop key="/index.jsp">indexController</prop>
			</props>
		</property>
	</bean>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		lazy-init="false">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WebContent/" />
		<property name="suffix"
			value="*.jsf, *.xhtml, *.html, *.jsp, *.js" />
	</bean>


	<bean name="indexController" lazy-init="false"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController" />

	<bean
		class="org.springframework.beans.factory.config.CustomScopeConfigurer"
		lazy-init="false">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="com.pifrans.project.bean.general.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>


	<bean id="reportUtil"
		class="com.pifrans.project.report.util.ReportUtil" />
	<bean id="utilFramework"
		class="com.pifrans.framework.util.FrameworkUtil" scope="session" />

	<!-- Controllers -->
	<bean id="sessionController"
		class="com.pifrans.project.general.controllers.SessionControllerImplementation"
		scope="singleton" />


	<!-- DAOs -->
	<bean id="repositoryLogin"
		class="com.pifrans.dao.implementations.DaoLogin" scope="singleton" />


	<!-- Services -->
	<bean id="serviceLogin"
		class="com.pifrans.services.implementations.ServiceLoginImplementation" />

</beans>